:root {
  --Soft-blue: hsl(215, 30%, 64%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --Body-Font-size: 18px;
  --Font-Family: "Outfit";
}

* {
  box-sizing: border-box;
}

body {
  background: var(--Very-dark-blue-main-BG);
  font-family: var(--Font-Family);
}

.card-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  color: var(--White);
  background-color: var(--Very-dark-blue-card-BG);
  width: 21.95rem;
  height: 37.25rem;
  border-radius: 17px;
  box-shadow: 0 25px 0 48px hsl(218, 54%, 11%);
}

.card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  box-shadow: 0 30px 2px 15px hsl(217, 55%, 10%);
}

.img-container {
  position: relative;
}

.img-container img {
  height: 98.15%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

.img-container:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.15%;
  border-radius: 8px;
  background-color: hsl(178, 100%, 50%, 50%);
  cursor: pointer;
  background-image: url(/images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  width: fit-content;
}

h1:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.content-container {
  margin: 4px 0 0 0;
}

.content-container > p {
  font-size: var(--Body-Font-size);
  line-height: 1.6rem;
  color: var(--Soft-blue);
}

.eth-info-container {
  margin: 23px 0 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2px 25px 0;
  border-bottom: 1px solid var(--Very-dark-blue-line);
}

.eth-quantity,
.eth-day-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 0.5rem;
}

.eth-quantity > p {
  margin: 0;
  font-weight: 500;
  color: var(--Cyan);
}

.eth-day-counter > p {
  margin: 0;
  color: var(--Soft-blue);
}

.eth-icon-container {
  display: flex;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 1.15rem;
  margin: 5px 0 0 1px;
}

.author-container > p {
  color: var(--Soft-blue);
}

.author-container > p > span {
  color: var(--White);
}

.author-container > p > span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.author-avatar {
  height: 2rem;
  width: 2rem;
}

.author-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: 1px solid var(--White);
  border-radius: 50%;
}
